@using ASPNET_MVC.Services
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - ASPNET_MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/ASPNET_MVC.styles.css" asp-append-version="true"/>
</head>
<body>

@ViewBag.ProductCount
<ul>
    <li>
        <a href="@Url.Action("Index", "Home")">Uvodni stranka</a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Eshop")">Eshop</a>
    </li>
</ul>

@RenderBody()


</body>
</html>